@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

.footer {
    margin: calc(#{$indentL} + #{$contentLiftIndent}) 0 $indentL;
    @include text-size(body-2);

    &__column {
        margin-top: $indentM;
    }

    &__links {
        display: flex;
        justify-content: center;

        width: 100%;
    }

    &__link {
        &:not(:last-child) {
            margin-right: $indentSM;
        }
    }

    &__logo {
        margin-bottom: $indentM;
    }

    &__social {
        display: flex;
    }

    &__column-title {
        margin: 0;

        font-weight: 400;
        @include text-size(body-3);
    }

    &__column-link {
        display: block;

        margin-top: $indentS;
        @include text-size(body-1);
    }

    &__underline {
        display: flex;
        justify-content: space-between;

        margin-top: $indentM;
    }

    &__underline-links {
        display: flex;
    }

    &__underline-link,
    &__underline-copyright {
        display: block;

        margin-top: $indentM;
    }

    &__underline-link {
        margin-right: $indentSM;
    }

    &__underline-copyright {
        color: var(--yc-color-text-secondary);
    }

    @media (max-width: map-get($gridBreakpoints, 'md') - 1) {
        &__underline {
            flex-direction: column;
        }

        &__underline-links {
            flex-wrap: wrap;
        }

        &__underline-link {
            margin-top: $indentS;
        }

        &__underline-copyright {
            margin-top: $indentM;
        }
    }
}
